<h1 class="offset-lg-4 title mt-3 text-success display-3 font-weight-bolder">Eat The Burger!</h1>

<container class="row">
  <div class="offset-lg-2 col-lg-4">
    <h2 class="text-warning"><u>Uneaten Burger List</u></h2>
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <div>
            <form>
              <button type="submit" class="uneatenBurger btn btn-warning m-1" data-id="{{this.id}}" data-newDevoured="{{devour}}">{{this.burger_name}}</button>
             </form>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="offset-lg-2 col-lg-4">
    <h2 class="text-danger"><u>Eaten Burgers List</u></h2>
    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="eatenBurger">
            <button type="button" class="deleteburger btn btn-danger m-1" id ="deletebutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">{{this.burger_name}}</button>
          </div>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</container>


<div class="row">
  <h2 class="offset-lg-5 col-lg-7 text-success"><u>Add a New Burger!</u></h2>
  <div class="offset-lg-5">
    <form>
      <div class="form-group ml-5">
        <label for="burgerBox">Enter Your Burgers Here</label>
        <input type="text" class="form-control" id="enterBurger" name="burgerBox" placeholder="Enter Burger">
      </div>
      <button type="submit" id="submit"class="btn btn-primary offset-lg-5">Submit</button>
    </form>
  </div>
</div>

<div>
  <img src="/assets/images/burger.png" height="250px" width="auto">
</div>
